* {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 10%;
    text-align: center;
    text-transform: lowercase;
    font-style: italic;
    font-family: 'Calibri';
    font-size: 20px;
}

#container {
    width:500px;
    background-color: #d1d1d1;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 20px;
}

#formulario {
    padding: 20px;
}

#formulario input {
    padding: 8px 10px;
}

#resposta {
    text-align: center;
    margin-top: 20px;
    color: #fff;
    display: none;
}